.footer-container {
  margin: auto;
  margin-top: 100px;
  margin-bottom: 20px;
  justify-content: center;
  font-family: "Roboto", "Helvetica", "Arial", sans-serif !important;
  .third-title,
  .second-title,
  .first-title,
  .resources {
    font-size: 12px;
  }
  .columns{
      margin: 0 50px
  }
}
