.post-container {
  margin: auto;
  margin-bottom: 10px;
  border: solid 0.25px var(--lightColor);
  width: 650px;
  .post-line1 {
  }
  .post-line2 {
  }
  .post-line3 {
    margin-top: 10px !important;
  }
}
