.notification-alert-container {
  position: fixed;
  left: 50px;
  bottom: 50px;
  height: calc(100vh - 140px);
  overflow: hidden;
  z-index: 100;
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  .notification-alert-list {
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    .MuiAlert-root {
      border-radius: 10px;
      // background-color: rgba(224, 241, 255, 0.85);
      background-color: var(--backgroundColor);
      border: 0.5px solid var(--lightColor);
      box-shadow: 0px 1px 2px -1px rgb(0 0 0 / 10%),
        0px 1px 3px 0px rgb(0 0 0 / 16%), 0px 2px 4px 0px rgb(0 0 0 / 20%);
      width: 250px;
      height: fit-content;
      color: var(--charColor);
      padding: 10px 20px;
      .MuiAlert-icon {
        display: none;
      }
      .MuiAlert-message {
        padding: 0;
      }
      .MuiAlert-action {
        padding-top: 0;
        padding-left: 10px;
      }
      &:hover {
        background-color: var(--lightColor);
      }
    }
    .alert-item {
      animation: hideAnimation 0s ease-in 5s;
      animation-fill-mode: forwards;
    }

    @keyframes hideAnimation {
      to {
        visibility: hidden;
        width: 0;
        height: 0;
      }
    }
    .notification-container {
      padding: 0;
      height: fit-content;
      &:hover {
        background-color: transparent;
      }
      div {
        padding: 0;
      }
      img {
        width: 35px;
        height: 35px;
        margin: 0;
      }
      .notification-content {
        grid-column-start: 3;
        grid-column-end: 14;
      }
      .seen-dot,
      .notification-from-now {
        display: none;
      }
      .noti-in-post {
        grid-column-start: 15;
        grid-column-end: 15;
      }
    }
  }
}
