.app-btns-container {
  grid-column-start: 9;
  grid-column-end: 10;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  gap: 10px;
  .notification-btns {
    display: flex;
    flex-direction: row;
    position: relative;
    gap: 10px;
  }
  .btn-container {
    position: relative;
  }
  button {
    background-color: var(--lightColor);
    color: var(--defaultColor);
    // width: 48px;
    border-radius: 100px;
    padding: 7px 0;
    min-width: 45px !important;

    &:hover {
      background-color: var(--hoverColor) !important;
      color: var(--defaultColor) !important;
    }

    &.active {
      background-color: var(--mainHoverColor) !important;
      color: var(--mainColor) !important;
      font-weight: 900;
    }
  }
  .MuiSvgIcon-root {
    font-size: 32px;
  }
  .notification-icon {
    transform: rotate(40deg);
  }
}
